html {
    font-size: 15px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    color: hsla(0, 0%, 100%, 0.75);
    opacity: 0.6;
    font-family: 'Lexend Deca';
}

h1{
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display';
}

body{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 800px;
    top: 50%;
    transform: translate(0, -50%);
    max-width: 800px;
}

.container {
    display: flex;
    margin: 50px;
    height: 400px;
}

.sedans{
    padding: 30px;
    max-width: 220px;
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.suv{
    padding: 30px;
    max-width: 220px;
    background-color: hsl(184, 100%, 22%);
}

.luxury {
    max-width: 220px;
    padding: 30px;
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.learnmore {
    margin-top: 70px;
    border-radius: 5rem;
    width: 120px;
    height: 40px;
    border-style: none;
}

.raz {
    color: hsl(31, 77%, 52%);
    background-color: white;
}

.raz:hover{
    background-color: hsl(31, 77%, 52%);
    border: 1px solid white;
    color: white;
    cursor: pointer;
}

.dv {
    color: hsl(184, 100%, 22%);
    background-color: white;
}

.dv:hover {
    background-color: hsl(184, 100%, 22%);
    border: 1px solid white;
    color: white;
    cursor: pointer;
}

.tr {
    color: hsl(179, 100%, 13%);
    background-color: white;
}

.tr:hover{
    background-color: hsl(179, 100%, 13%);
    color: white;
    border: 1px solid white;
    cursor: pointer;
}

@media screen and (max-width: 375px){
    body {
        width: 120;
        margin: 10px 35px 0px 35px;
        flex-direction: column;
    }
    .container{
        display: block;
    }

    .sedans{
        border-bottom-left-radius: 0;
        border-top-right-radius: 0.5rem;
    }

    .luxury {
        border-top-right-radius: 0;
        border-bottom-left-radius: 0.5rem;

    }
}